@page "/Area"
@using Syncfusion.Blazor.Grids
@using Model
@using Interfaces
@inject IAreaService AreaService
@attribute [Authorize]
@using System.Collections.ObjectModel
@using Syncfusion.Blazor.Inputs
@using System.IO


<div class="container-fluid">
    <p>@Message</p>

    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper">
            <div class="alert alert-title" role="banner" ><b>Areas</b></div>
        </div>
    </div>

    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    <SfGrid ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" AllowSorting="true" DataSource="@GridData">

                        <GridEvents OnActionBegin="OnBeginHandler" TValue="Area"></GridEvents>
                        <GridPageSettings PageSize="20"></GridPageSettings>

                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog">
                            <HeaderTemplate>
                                @{
                                    var are = (context as Area);
                                }
                                <span>Detalle de Area: @(are.id_area)</span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var are = (context as Area);

                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfNumericTextBox @bind-Value="@(are.id_area)" Enabled="false" Placeholder="ID" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>


                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-10">
                                            <SfTextBox @bind-Value="@(are.area)" Enabled="true" Placeholder="Area" FloatLabelType="FloatLabelType.Always"> </SfTextBox>
                                        </div>
                                    </div>

                                </div>
                            </Template>

                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(Area.id_area) HeaderText="ID" TextAlign="TextAlign.Center" Width="30" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(Area.area) HeaderText="Area" Width="150"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                }
            </div>
        </div>
    </div>
</div>





@code {

    public string Message { get; set; }
    public string[] ToolbarItems = new string[] { "Add", "Edit", "Delete", "Update", "Cancel", "Search" };

    public IEnumerable<Area> GridData { get; set; }

    SfGrid<Area> Grid { get; set; }

    protected async override Task OnInitializedAsync()
    {
        try
        {
            GridData = await AreaService.GetAllAreas();
        }
        catch (Exception ex)
        {
            Message = "Error al obtener areas: " + ex.Message;
        }
    }

    private async Task OnBeginHandler(ActionEventArgs<Area> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            await SaveArea((Area)Args.Data);
        }
        else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            await DeleteArea(((Area)Args.Data).id_area);
        }

        return;
    }

    protected async Task SaveArea(Area nationality)
    {
        await AreaService.SaveArea(nationality);
        Grid.Refresh();
    }

    protected async Task DeleteArea(int id)
    {
        await AreaService.DeleteArea(id);
        Grid.Refresh();
    }


}

