@page "/Budgets"
@using Model
@using Interfaces
@inject IBudgetService BudgetService
@inject IClientService ClientService
@inject IEmployeeService EmployeeService
@inject IBudgetDetailsService BudgetDetailsService
@inject ICurrencyService CurrencyService

@using Microsoft.AspNetCore.Http

@inject AuthenticationStateProvider AuthenticationStateProvider


@attribute [Authorize]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Navigations



<div class="container-fluid">
    <p>@Messsage</p>
    <span class="error">@ErrorDetails</span>

    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper">
            <div class="alert alert-primary" role="banner"><b>Presupuestos</b></div>
        </div>
    </div>


    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    @*<SfButton OnClick="ExcelExport" Content="Excel Export"></SfButton>*@
                    <SfGrid TValue="Budget" ID="Grid" @ref="Grid" AllowPaging="true" Toolbar="@ToolbarItems" DataSource="@GridData" AllowExcelExport="true" ShowColumnChooser="true" AllowTextWrap="true">
                        <GridEvents OnActionBegin="OnBeginHandler" OnActionComplete="ActionCompletedHandler" TValue="Budget"></GridEvents>
                        <GridPageSettings PageSize="30"></GridPageSettings>
                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate>
                                @{
                                    var budg = (context as Budget);
                                }
                                <span>Detalle de presupuesto: @(budg.nro_presupuesto)</span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var budg = (context as Budget);
                                    if (budg.fecha == t)
                                        budg.fecha = hoy;
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfNumericTextBox @bind-Value="@(budg.id_presupuesto)" Enabled="false" Placeholder="ID" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfNumericTextBox @bind-Value="@(budg.nro_presupuesto)" Enabled="true" Placeholder="Nro. presupuesto" FloatLabelType="FloatLabelType.Always"> </SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfDropDownList DataSource="@currencies"
                                                            TItem="Currency"
                                                            TValue="Int32"
                                                            @bind-Value="@(budg.id_moneda)"
                                                            Placeholder="Moneda"
                                                            FloatLabelType="FloatLabelType.Always">
                                                <DropDownListFieldSettings Value="id_moneda" Text="moneda"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">
                                            <SfDatePicker TValue="DateTime" @bind-Value="@(budg.fecha)" Format="dd/MM/yyyy" Enabled="true" Placeholder="Fecha" FloatLabelType="FloatLabelType.Always"> </SfDatePicker>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <SfDropDownList DataSource="@clients"
                                                            TItem="Client"
                                                            TValue="Int32?"
                                                            @bind-Value="@(budg.id_cliente)"
                                                            Placeholder="Cliente"
                                                            FloatLabelType="FloatLabelType.Always">
                                                <DropDownListFieldSettings Value="id_cliente" Text="razon_social"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                    </div>

                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn HeaderText="Det." TextAlign="TextAlign.Center" Width="10">
                                <Template>
                                    @{
                                        var Bud = (context as Budget);
                                        <div><a href="#" @onclick="@(() => Navigate(Bud))">Ver</a></div>
                                    }
                                </Template>
                            </GridColumn>
                            <GridColumn Field=@nameof(Budget.id_presupuesto) HeaderText="ID" TextAlign="TextAlign.Center" Width="10" IsPrimaryKey="true"></GridColumn>
                            <GridColumn Field=@nameof(Budget.nro_presupuesto) HeaderText="Nro." Width="10"></GridColumn>
                            <GridColumn Field=@nameof(Budget.vendedor) HeaderText="Vendedor" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Budget.cliente) HeaderText="Cliente" Width="60" ></GridColumn>
                            <GridColumn Field=@nameof(Budget.moneda) HeaderText="Moneda" Width="15"></GridColumn>
                            <GridColumn Field=@nameof(Budget.fecha) HeaderText="Fecha" Format="dd/MM/yyyy" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Budget.estado) HeaderText="Estado" Visible="false" Width="10"></GridColumn>

                        </GridColumns>
                    </SfGrid>
                }

            </div>
        </div>

    </div>

</div>


@code {
    //public IEnumerable<Budget> clients { get; set; }
    public string Messsage { get; set; }
    public string[] ToolbarItems = new string[] { "Add", "Edit", "Delete", "Update", "Cancel", "Search", "ColumnChooser" };
    public string ErrorDetails = "";

    public IEnumerable<Budget> GridData { get; set; }
    public IEnumerable<Client> clients { get; set; }
    public IEnumerable<Employee> employees { get; set; }
    public IEnumerable<Currency> currencies { get; set; }

    public DateTime hoy = DateTime.Today;
    public DateTime t;

    SfGrid<Budget> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };

    public string UserName;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            GridData = await BudgetService.GetAllBudgets();
            clients = await ClientService.GetAllClients();
            employees = await EmployeeService.GetAllEmployees();
            currencies = await CurrencyService.GetAllCurrencies();


            var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
            var user = authState.User;

            string[] subs = user.Identity.Name.Split("@");
            UserName = subs[0];
        }
        catch (Exception ex)
        {
            Messsage = "Error al obtener presupuestos [OnInitializedAsync] : " + ex.Message;
        }
    }



    private async Task OnBeginHandler(ActionEventArgs<Budget> Args)
    {
        try
        {
            if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
            {
                await SaveBudget((Budget)Args.Data);
            }
            else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
            {
                await DeleteBudget(((Budget)Args.Data).id_presupuesto);
            }


            return;
        }
        catch (Exception ex)
        {
            Messsage = "Error al obtener presupuestos [OnBeginHandler]: " + ex.Message + " Inner.: " + ex.InnerException;
            throw ex;
        }
    }

    private async Task ActionCompletedHandler(ActionEventArgs<Budget> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save || Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            GridData = await BudgetService.GetAllBudgets();
            Grid.Refresh();
        }

    }


    protected async Task SaveBudget(Budget budget)
    {
        try
        {
            budget.id_funcionario = GetEmployeeID(UserName);
            await BudgetService.SaveBudget(budget);
        }
        catch (Exception ex)
        {
            Messsage = "Error al registrar presupuesto: " + ex.Message;
            throw ex;
        }
    }

    protected async Task DeleteBudget(int id)
    {
        await BudgetService.DeleteBudget(id);
    }

    public async Task ExcelExport()
    {
        ExcelExportProperties ExportProperties = new ExcelExportProperties();
        ExportProperties.IncludeHiddenColumn = true;
        await this.Grid.ExcelExport(ExportProperties);
    }

    public Int32 GetEmployeeID(string username)
    {
        int id;
        try
        {
            id = employees.First(c => c.usuario == username).id_funcionario;
            return id;
        }
        catch (Exception ex)
        {
            Messsage = "Error al obtener ID de usuario : " + ex.Message;
            return 1;
        }
    }

    private void Navigate(Budget budget)
    {
        NavigationManager.NavigateTo($"/BudgetDetails/{budget.id_presupuesto}");
    }


}


