@page "/Stock"
@using Model
@using Interfaces
@inject IStockService StockService
@inject IStoreService StoreService  


@attribute [Authorize]
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Data
@using Syncfusion.Blazor.Grids
@using System.Collections.ObjectModel
@inject NavigationManager NavigationManager
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Inputs;
@using Syncfusion.Blazor.Calendars;




<div class="container-fluid">
    <p>@Messsage</p>
    <span class="error">@ErrorDetails</span>
    
    <div class="col-lg-12" style="padding:1px; height:50px">
        <div class="content-wrapper" >
            <div class="alert alert-primary" role="banner"><b>Stock de productos</b></div>
        </div>
    </div>
    <div class="col-lg-12 control-section">
        <div class="content-wrapper">
            <div class="row">
                @if (GridData == null)
                {
                    <div class="alert alert-warning" role="alert"><p><em>Cargando datos...</em></p></div>
                }
                else
                {
                    <SfGrid ID="Grid" @ref="Grid" AllowPaging="true" AllowSorting="true" Toolbar="@ToolbarItems" AllowFiltering="true" DataSource="@GridData" AllowExcelExport="true">

                        <GridEvents OnActionBegin="OnBeginHandler" TValue="Stock"></GridEvents>
                        <GridPageSettings PageSize="20"></GridPageSettings>

                        <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" Dialog="DialogParams">
                            <HeaderTemplate>
                                @{
                                    var stoc = (context as Stock);
                                }
                                <span>Detalle del Stock: @(stoc.codigo)</span>
                            </HeaderTemplate>
                            <Template>
                                @{
                                    var stoc = (context as Stock);
                                }
                                <div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">

                                            <SfNumericTextBox @bind-Value="@(stoc.id_stock)" Enabled="false" Placeholder="ID" FloatLabelType="FloatLabelType.Always"></SfNumericTextBox>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <SfTextBox @bind-Value="@(stoc.codigo)" Enabled="false" Placeholder="Código" FloatLabelType="FloatLabelType.Always"> </SfTextBox>
                                        </div>
                                        <div class="form-group col-md-9">
                                            <SfTextBox @bind-Value="@(stoc.producto)" Enabled="false" Placeholder="Producto" FloatLabelType="FloatLabelType.Always"> </SfTextBox>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-3">

                                            <SfDropDownList DataSource="@stores"
                                                            TItem="Store"
                                                            TValue="Int32"
                                                            @bind-Value="@(stoc.id_deposito)"
                                                            Placeholder="Depósito"
                                                            FloatLabelType="FloatLabelType.Always">
                                                <DropDownListFieldSettings Value="id_deposito" Text="deposito"></DropDownListFieldSettings>
                                            </SfDropDownList>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <SfNumericTextBox @bind-Value="@(stoc.cantidad)" Enabled="true" Placeholder="Cantidad" FloatLabelType="FloatLabelType.Always"> </SfNumericTextBox>
                                        </div>
                                    </div>



                                </div>
                            </Template>
                        </GridEditSettings>
                        <GridColumns>
                            <GridColumn Field=@nameof(Stock.id_stock) HeaderText="ID" TextAlign="TextAlign.Center" Width="5" IsPrimaryKey="true"></GridColumn>

                            <GridColumn Field=@nameof(Stock.codigo) HeaderText="Código" Width="20"></GridColumn>
                            <GridColumn Field=@nameof(Stock.producto) HeaderText="Producto" Width="50"></GridColumn>
                            <GridColumn Field=@nameof(Stock.deposito) HeaderText="Depósito" Width="30"></GridColumn>
                            <GridColumn Field=@nameof(Stock.cantidad) HeaderText="Cantidad" Width="20"></GridColumn>





                        </GridColumns>
                    </SfGrid>
                }

            </div>
        </div>

    </div>

</div>


@code {
    //public IEnumerable<Stock> clients { get; set; }
    public string Messsage { get; set; }
    public string[] ToolbarItems = new string[] { "Add", "Edit", "Delete", "Update", "Cancel" };
    public string ErrorDetails = "";

    public IEnumerable<Stock> GridData { get; set; }
    public IEnumerable<Store> stores { get; set; }


    SfGrid<Stock> Grid { get; set; }

    private DialogSettings DialogParams = new DialogSettings { Width = "850px", EnableResize = true, AllowDragging = true };


    protected override async Task OnInitializedAsync()
    {
        try
        {
            GridData = await StockService.GetAllStocks();
            stores = await StoreService.GetAllStores();

        }
        catch (Exception ex)
        {
            Messsage = "Error al obtener Stock: " + ex.Message;
        }
    }



    private async Task OnBeginHandler(ActionEventArgs<Stock> Args)
    {
        if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Save)
        {
            await SaveStock((Stock)Args.Data);
        }
        else if (Args.RequestType == Syncfusion.Blazor.Grids.Action.Delete)
        {
            await DeleteStock(((Stock)Args.Data).id_stock);
        }

        return;
    }

    protected async Task SaveStock(Stock stock)
    {
        await StockService.SaveStock(stock);
        Grid.Refresh();

    }

    protected async Task DeleteStock(int id)
    {
        await StockService.DeleteStock(id);
        Grid.Refresh();

    }


}


